@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Writer/WriterLayout.cshtml";
}
<h1>Yeni Blog Girişi</h1>
@using(Html.BeginForm("BlogAdd","Blog",FormMethod.Post))
{
    @Html.Label("Blog Başlığı");
    @Html.TextBoxFor(x=>x.BlogTitle,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogTitle)
    <br /> 
    @Html.Label("Blog Görseli");
    @Html.TextBoxFor(x=>x.BlogImage,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogImage)
    <br /> 
    @Html.Label("Blog Küçük Resmi");
    @Html.TextBoxFor(x=>x.BlogTumbnailImage,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.BlogTumbnailImage)
    <br />
     @Html.Label("Kategori");
    @Html.TextBoxFor(x=>x.CategoryId,new {@class="form-control"})
    <br />
    @Html.Label("Blog İçeriği");
    @Html.TextAreaFor(x=>x.BlogContent,15,3,new {@class="form-control"})
    <br />
    <button class="btn btn-info">Yazıyı Kaydet</button>
}

